name: Build

env:
  NODE_VERSION: 16

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3.4.1
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: buildAndReleaseTask/package-lock.json

      - name: Install packages
        run: npm ci
        working-directory: buildAndReleaseTask

      - name: Run lint
        run: npm run lint
        working-directory: buildAndReleaseTask

      - name: Run build
        run: npm run build
        working-directory: buildAndReleaseTask

      - name: Run smoke test
        # This is a very basic smoke test that imitates the env that an agent runs in
        working-directory: buildAndReleaseTask
        env:
          BUILD_BUILDID: 001
          BUILD_DEFINITIONNAME: Azure DevOps Demo CI
          BUILD_REPOSITORY_PROVIDER: Git
          BUILD_REPOSITORY_URI: https://github.com/slsa-framework/azure-devops-demo
          BUILD_SOURCEVERSION: dfcb922ec99fb35bbe408926ce2a745bf922f09b
          INPUT_ARTIFACTPATH: ../images
          SYSTEM_TEAMFOUNDATIONCOLLECTIONURI: https://github.com/slsa-framework/
          SYSTEM_TEAMPROJECT: azure-devops-demo
        run: node index.js
